.footer {
  background-color: #1172a3;
  width: 100%;
  margin-top: 100px;
  color: #fff;
  padding: 30px 40px;
  box-sizing: border-box;
}
.footer .links {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14px;
}
.footer .links a,
.footer .links a:hover,
.footer .links a:visited,
.footer .links a:active {
  color: #fff;
}
.footer .links div {
  margin-right: 16%;
}
.footer .links h3 {
  margin-bottom: 10px;
  font-size: 14px;
}
.footer .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .links ul li {
  margin: 10px 0;
}
.footer .copyright {
  text-align: center;
  font-size: 12px;
  margin-top: 50px;
}
