@media only screen and (max-width: 899px) {
  #header .desktop {
    display: none;
  }
  #header .mobile {
    display: block;
  }

  #header .header {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    align-items: center;
    padding: 10px 0 5px 0;
  }

  #header .header .logo img {
    width: 120px;
  }
  #header .header .hamburgerIcon {
    height: 15px;
  }
  #header .menu.open {
    display: block;
  }
  #header .menu {
    display: none;
  }
  #header .menu {
    color: #f5f5f5;
    border-top: solid 1px #f5f5f5;
    width: 100%;
    background-color: #00aeef;
  }
  #header .menu ul {
    margin: 10px 0;
  }
  #header .menu a {
    color: #f5f5f5;
  }
  #header .menu ul li {
    list-style: none;
    padding-bottom: 10px;
    font-size: 13px;
  }
}
